<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ac.soton.eventb.c.generator.CConvert"
            name="Convert to C">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ac.soton.eventb.c.generator.handlers.CTranslateHandler"
            commandId="ac.soton.eventb.c.generator.CConvert">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <command
               commandId="ac.soton.eventb.c.generator.CConvert"
               label="Convert to C"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="ac.soton.eventb.c.generator.isMachineRoot">
                  </reference>
                  <reference
                        definitionId="ac.soton.eventb.c.generator.isContextRoot">
                  </reference>
                  <reference
                        definitionId="ac.soton.eventb.c.generator.isProject">
                  </reference>
                  <reference
                        definitionId="ac.soton.eventb.c.generator.XMachine">
                  </reference>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="ac.soton.eventb.c.generator.isMachineRoot">
         <and>
            <count
                  value="1">
            </count>
            <iterate
                  operator="or">
               <instanceof
                     value="org.eventb.core.IMachineRoot">
               </instanceof>
            </iterate>
         </and>
      </definition>
      <definition
            id="ac.soton.eventb.c.generator.isContextRoot">
         <and>
            <count
                  value="1">
            </count>
            <iterate
                  operator="or">
               <instanceof
                     value="org.eventb.core.IContextRoot">
               </instanceof>
            </iterate>
         </and>
      </definition>
      <definition
            id="ac.soton.eventb.c.generator.isProject">
         <and>
            <count
                  value="1">
            </count>
            <iterate
                  operator="or">
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </iterate>
         </and>
      </definition>
      <definition
            id="ac.soton.eventb.c.generator.XMachine">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="bumx">
                  </test>
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="ac.soton.emf.translators">
      <translator
            adapter_class="ac.soton.eventb.c.generator.handlers.CTranslateAdapter"
            command_id="ac.soton.eventb.c.generator.CConvert"
            name="C Convert"
            root_source_class="Machine"
            source_package="http://emf.eventb.org/models/core/machine/2014"
            translator_id="ac.soton.eventb.C.generator.handlers.CTranslateHandler">
      </translator>
   </extension>
   <extension
         point="ac.soton.emf.translator.rulesets">
      <ruleset
            translator_id="ac.soton.eventb.c.generator.handlers.CTranslateHandler">
         <rule
               name="Machine2PackageRule"
               rule_class="ac.soton.eventb.c.generator.rules.Machine2SourceRule"
               source_class="Machine">
         </rule>
         <rule
               name="CProjectRule"
               rule_class="ac.soton.eventb.c.generator.rules.CProjectRule"
               source_class="Machine">
         </rule>
         <rule
               name="Context2PackageRule"
               rule_class="ac.soton.eventb.c.generator.rules.Context2SourceRule"
               source_class="Machine">
         </rule>
         <rule
               name="Variable2VariableRule"
               rule_class="ac.soton.eventb.c.generator.rules.Variable2VariableRule"
               source_class="Variable">
         </rule>
         <rule
               name="Action2BodyRule"
               rule_class="ac.soton.eventb.c.generator.rules.Action2BodyRule"
               source_class="Action">
         </rule>
         <rule
               name="Set2TypeRule"
               rule_class="ac.soton.eventb.c.generator.rules.Set2TypeRule"
               source_class="Machine">
         </rule>
         <rule
               name="Record2RecordRule"
               rule_class="ac.soton.eventb.c.generator.rules.Record2StructRule"
               source_class="Machine">
         </rule>
         <rule
               name="Constant2ConstantRule"
               rule_class="ac.soton.eventb.c.generator.rules.Constant2ConstantRule"
               source_class="Machine">
         </rule>
      </ruleset>
   </extension>

</plugin>
