<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated C4EventB -->
      <package
            uri="http://ac/soton/eventb/c"
            class="C4EventB.model.C4EventB.C4EventBPackage"
            genModel="model/C4EventB.genmodel"/>
   </extension>

</plugin>


<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="C4EventB.generator.CConvert"
            name="Convert to C">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="C4EventB.generator.handlers.CTranslateHandler"
            commandId="C4EventB.generator.CConvert">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:fr.systerel.explorer.navigator.view">
         <command
               commandId="ac.soton.eventb.spark.generator.SparkConvert"
               label="Convert to Spark"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <reference
                        definitionId="ac.soton.eventb.spark.generator.isMachineRoot">
                  </reference>
                  <reference
                        definitionId="ac.soton.eventb.spark.generator.isContextRoot">
                  </reference>
                  <reference
                        definitionId="ac.soton.eventb.spark.generator.isProject">
                  </reference>
                  <reference
                        definitionId="ac.soton.eventb.spark.generator.XMachine">
                  </reference>
               </or>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="ac.soton.eventb.spark.generator.isMachineRoot">
         <and>
            <count
                  value="1">
            </count>
            <iterate
                  operator="or">
               <instanceof
                     value="org.eventb.core.IMachineRoot">
               </instanceof>
            </iterate>
         </and>
      </definition>
      <definition
            id="ac.soton.eventb.spark.generator.isContextRoot">
         <and>
            <count
                  value="1">
            </count>
            <iterate
                  operator="or">
               <instanceof
                     value="org.eventb.core.IContextRoot">
               </instanceof>
            </iterate>
         </and>
      </definition>
      <definition
            id="ac.soton.eventb.spark.generator.isProject">
         <and>
            <count
                  value="1">
            </count>
            <iterate
                  operator="or">
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </iterate>
         </and>
      </definition>
      <definition
            id="ac.soton.eventb.spark.generator.XMachine">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false">
               <adapt
                     type="org.eclipse.core.resources.IResource">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="bumx">
                  </test>
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="ac.soton.emf.translators">
      <translator
            adapter_class="ac.soton.eventb.spark.generator.handlers.SparkTranslateAdapter"
            command_id="ac.soton.eventb.spark.generator.SparkConvert"
            name="Spark Convert"
            root_source_class="Machine"
            source_package="http://emf.eventb.org/models/core/machine/2014"
            translator_id="ac.soton.eventb.spark.generator.handlers.SparkTranslateHandler">
      </translator>
   </extension>
   <extension
         point="ac.soton.emf.translator.rulesets">
      <ruleset
            translator_id="ac.soton.eventb.spark.generator.handlers.SparkTranslateHandler">
         <rule
               name="Machine2PackageRule"
               rule_class="ac.soton.eventb.spark.generator.rules.Machine2PackageRule"
               source_class="Machine">
         </rule>
         <rule
               name="SparkProjectRule"
               rule_class="ac.soton.eventb.spark.generator.rules.SparkProjectRule"
               source_class="Machine">
         </rule>
         <rule
               name="Context2PackageRule"
               rule_class="ac.soton.eventb.spark.generator.rules.Context2PackageRule"
               source_class="Machine">
         </rule>
         <rule
               name="Variable2VariableRule"
               rule_class="ac.soton.eventb.spark.generator.rules.Variable2VariableRule"
               source_class="Variable">
         </rule>
         <rule
               name="Event2GlobalVariableRule"
               rule_class="ac.soton.eventb.spark.generator.rules.Event2GlobalVariableRule"
               source_class="Event">
         </rule>
         <rule
               name="Context2USEWITHRule"
               rule_class="ac.soton.eventb.spark.generator.rules.Context2USEWITHRule"
               source_class="Machine">
         </rule>
         <rule
               name="Action2BodyRule"
               rule_class="ac.soton.eventb.spark.generator.rules.Action2BodyRule"
               source_class="Action">
         </rule>
         <rule
               name="Parameter2InputParameterRule"
               rule_class="ac.soton.eventb.spark.generator.rules.Parameter2InputParameterRule"
               source_class="Parameter">
         </rule>
         <rule
               name="Parameter2OutputParameterRule"
               rule_class="ac.soton.eventb.spark.generator.rules.Parameter2OutputParameterRule"
               source_class="Parameter">
         </rule>
         <rule
               name="Event2ImpProcedureRule"
               rule_class="ac.soton.eventb.spark.generator.rules.Event2ImpProcedureRule"
               source_class="Event">
         </rule>
         <rule
               name="Event2SpecProcedureRule"
               rule_class="ac.soton.eventb.spark.generator.rules.Event2SpecProcedureRule"
               source_class="Event">
         </rule>
         <rule
               name="Set2TypeRule"
               rule_class="ac.soton.eventb.spark.generator.rules.Set2TypeRule"
               source_class="Machine">
         </rule>
         <rule
               name="Record2RecordRule"
               rule_class="ac.soton.eventb.spark.generator.rules.Record2RecordRule"
               source_class="Machine">
         </rule>
         <rule
               name="Constant2ConstantRule"
               rule_class="ac.soton.eventb.spark.generator.rules.Constant2ConstantRule"
               source_class="Machine">
         </rule>
         <rule
               name="Guard2PrePostconditionRule"
               rule_class="ac.soton.eventb.spark.generator.rules.Guard2PrePostconditionRule"
               source_class="Guard">
         </rule>
         <rule
               name="Action2PostCondition"
               rule_class="ac.soton.eventb.spark.generator.rules.Action2PostCondition"
               source_class="Action">
         </rule>
      </ruleset>
   </extension>

</plugin>
